#gameContainer {
    text-align: center;
}
#gameBoard {
    border: 3px solid black;
}
#scoreText {
    font: "Permanent Marker", cursive;
    font-size: 70px;
}
#resetBtn {
    font: "Permanent Marker", cursive;
    font-size: 16px;
    width: 70px;
    height: 30px;
    border: 4px solid black;
    border-radius: 15px;
    cursor: pointer;
}