#gameContainer {
    text-align: center;
}
#gameBoard {
    border: 3px solid black;
}
#scoreText {
    font: "Permanent Marker", cursive;
    font-size: 70px;
}
#resetBtn {
    font: "Permanent Marker", cursive;
    font-size: 16px;
    width: 70px;
    height: 30px;
    border: 4px solid black;
    border-radius: 15px;
    cursor: pointer;
}

#upBtn, #downBtn, #leftBtn, #rightBtn {
    display: none;
}

@media screen and (max-width: 600px) {
    #upBtn, #downBtn, #leftBtn, #rightBtn {
    font: "Permanent Marker", cursive;
    position: fixed;
    display: block;
    font-size: 16px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background-color: brown;
    color: white;
}

#upBtn {
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}

#downBtn {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#leftBtn {
    bottom: 70px;
    left: 50%;
    transform: translateX(-150%);
}

#rightBtn {
    bottom: 70px;
    left: 50%;
    transform: translateX(50%);
}
}